apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: objectstore-pvc
  namespace: objectstore
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
